.features-section {
  margin-bottom: -94px;
}

.features__list {
  display: flexbox;
  

  @media screen and (min-width: 480px) {
    
    
  }
  
  @media screen and (min-width: 768px) {
    
    
    flex-wrap: wrap;
    
  }

  @media screen and (min-width: 1200px) {
    
    flex-wrap: wrap;
    
  }
}

.features__box {
  
  
  display: flexbox;
  
  margin-right: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {

    width: 450px;

    
      
      
  }

  @media screen and (min-width: 768px) {

    width: 354px;
     
    

  }

  @media screen and (min-width: 1200px) {
      
      
  }




}



.features__item {
  display: flex;
  
  
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color:var(--icon-feature-bg-color);

  @media screen and (min-width: 480px) {

    width: 450px;
      
      
  }

  @media screen and (min-width: 480px) and (max-width: 480px) {



  }


  @media screen and (min-width: 768px) {

    width: 354px;

     
    

  }

  @media screen and (min-width: 1200px) {

    width: 270px;
      flex-wrap: wrap;
      
  }
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.features__title {
  
padding-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.4;
letter-spacing: 0.03em;
text-transform: uppercase;

//  @media screen and (min-width: 480px) and (max-width: 767px) {

//   max-width: 354px;
//   display: flexbox;  
//   align-items: center;
//   justify-content: center;
      
//   }

}

.features__subtitle {

font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-text);
// @media screen and (min-width: 480px) and (max-width: 767px) {

//   width: 354px;
//   display: flexbox;  
//   align-items: center;
//   justify-content: center;
      
//   }

}