.hero {
  
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-dark-color);
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;

    background-image: linear-gradient(to bottom, var(--gradient-color), var(--gradient-color)), url(../images/background/hero_s.jpg);

    // fo retina S mobile
    @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
        background-image: linear-gradient(to bottom, var(--gradient-color), var(--gradient-color)), url(../images/background/hero_2x_s.jpg);


  }

  @media screen and (min-width: 768px) {
        background-image: linear-gradient(to bottom, var(--gradient-color), var(--gradient-color)), url(../images/background/hero_m.jpg); 
    
        // fo retina M tablet
    @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
        background-image: linear-gradient(to bottom, var(--gradient-color), var(--gradient-color)), url(../images/background/hero_2x_m.jpg);
    height: 400px;

  }
      }

  @media screen and (min-width: 1200px) {
        background-image: linear-gradient(to bottom, var(--gradient-color), var(--gradient-color)), url(../images/background/hero_l.jpg);
        
        max-width: 1600px;
        height: 600px;
        
        // fo retina L pc
    @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
        background-image: linear-gradient(to bottom, var(--gradient-color), var(--gradient-color)), url(../images/background/hero_2x_l.jpg);


  }
    
  }
}



.hero__title {
  padding-right: 60px;
  padding-left: 60px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);

  @media screen and (min-width: 1200px) {
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
padding: 0 240px;

    
  }
}



                                   




                                   

