.footer__header {

font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--white);

@media screen and (min-width: 1200px) {
    margin-bottom: 20px;
    
}

// // &-follow {
// // position: relative;
// // bottom: 20px;
// }

}

