
body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  background-color: var(--white);
  color: var(--main-black-color);
}

body.modal-open {
  overflow: hidden;
}

.link-color {
  color:  var(--link-color);
}