 

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-black-color: #212121;
  --secondary-text: #757575;
  --mail-phone-color: rgba(117, 117, 117, 1);
  --link-color: #2196f3;
  --white: #ffffff;
  --footer-white: rgba(255, 255, 255, 0.6);
  --bg-dark-color: #2F303A;
  --gradient-color: rgba(47, 48, 58, 0.4);
  --icon-color: rgba(175, 177, 184, 1);
  --icon-hover-color: rgba(33, 150, 243, 1);
  --icon-feature-bg-color: #F5F4FA;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
  --do-item-desc-color: rgba(47, 48, 58, 0.8);
  --portfolio-item-hover-color: rgba(33, 150, 243, 0.9);
  --cubic-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

